<% if (terrain===0) {%>
    <div class="container-fluid" id="terrainOptions">
        <div class="row">
            <div class="col-md-3" style="text-align: center;">
                <h5>Road</h5>
                <form action="/toption" method="post">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input name="tOp" value="0" hidden="">
                                <!--create image submit buttons for the active buttons and none for the disabled-->
                                <input src="/images/road.png" id="tOption" class="img-responsive" width="100%" height="auto" type="image" name="submit" alt="submit" style="text-align: center;">
                            </div>
                        </div>
                        <div class="col-sm-12" width="100px">
                            <div class="row d-flex justify-content-center">
                                <button class="btn btn-primary btn-circle btn-xl" type="submit" disabled style="margin-top: 40%;"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3" style="text-align: center;">
                <h5>Trail</h5>
                <form action="/toption" method="post" id="terrainForm">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input src="/images/path.png" id="tOption" class="img-responsive" width="100%" height="auto" type="image" name="submit" alt="submit" style="text-align: center;">
                                <input name="tOp" value="1" hidden="">
                            </div>
                        </div>
                        <div class="col-sm-12" width="100px">
                            <div class="row d-flex justify-content-center">
                                <button class="btn btn-primary btn-circle btn-xl" type="submit" active style="margin-top: 40%;"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3" style="text-align: center;">
                <h5>Gravel</h5>
                <form action="/toption" method="post" id="terrainForm">
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input src="/images/stone.png" id="tOption" class="img-responsive" width="100%" height="auto" type="image" name="submit" alt="submit" style="text-align: center;">
                            <!--send chosen options through mvc post method-->
                            <input name="tOp" value="2" hidden="">
                        </div>
                    </div>
                    <div class="col-sm-12" width="100px">
                        <div class="row d-flex justify-content-center">
                            <button class="btn btn-primary btn-circle btn-xl" type="submit" active style="margin-top: 40%;"></button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-center">
                <form action="/cushion" method="get">
                    <div>
                        <input src="/images/fast-forward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(17%); margin-top: -60%; margin-left: -5%;">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%}%>
    <% if (terrain===1) {%>
        <div class="container-fluid" id="terrainOptions">
            <div class="row">
                <div class="col-md-3" style="text-align: center;">
                    <h5>Road</h5>
                    <form action="/toption" method="post">
                        <div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input name="tOp" value="0" hidden="">
                                    <!--create image submit buttons for the active buttons and none for the disabled-->
                                    <input src="/images/road.png" id="tOption" class="img-responsive" width="100%" height="auto" type="image" name="submit" alt="submit" style="text-align: center;">
                                </div>
                            </div>
                            <div class="col-sm-12" width="100px">
                                <div class="row d-flex justify-content-center">
                                    <button class="btn btn-primary btn-circle btn-xl" type="submit" active style="margin-top: 40%;"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3" style="text-align: center;">
                    <h5>Trail</h5>
                    <form action="/toption" method="post" id="terrainForm">
                        <div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input src="/images/path.png" id="tOption" class="img-responsive" width="100%" height="auto" type="image" name="submit" alt="submit" style="text-align: center;">
                                    <input name="tOp" value="1" hidden="">
                                </div>
                            </div>
                            <div class="col-sm-12" width="100px">
                                <div class="row d-flex justify-content-center">
                                    <button class="btn btn-primary btn-circle btn-xl" type="submit" disabled style="margin-top: 40%;"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3" style="text-align: center;">
                    <h5>Gravel</h5>
                    <form action="/toption" method="post" id="terrainForm">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input src="/images/stone.png" id="tOption" class="img-responsive" width="100%" height="auto" type="image" name="submit" alt="submit" style="text-align: center;">
                                <!--send chosen options through mvc post method-->
                                <input name="tOp" value="2" hidden="">
                            </div>
                        </div>
                        <div class="col-sm-12" width="100px">
                            <div class="row d-flex justify-content-center">
                                <button class="btn btn-primary btn-circle btn-xl" type="submit" active style="margin-top: 40%;"></button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="col-md-3 d-flex align-items-center justify-content-center">
                    <form action="/cushion" method="get">
                        <div>
                            <input src="/images/fast-forward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(17%); margin-top: -60%; margin-left: -5%;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <%}%>
        <% if (terrain===2) {%>
            <div class="container-fluid" id="terrainOptions">
                <div class="row">
                    <div class="col-md-3" style="text-align: center;">
                        <h5>Road</h5>
                        <form action="/toption" method="post">
                            <div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input name="tOp" value="0" hidden="">
                                        <!--create image submit buttons for the active buttons and none for the disabled-->
                                        <input src="/images/road.png" id="tOption" class="img-responsive" width="100%" height="auto" type="image" name="submit" alt="submit" style="text-align: center;">
                                    </div>
                                </div>
                                <div class="col-sm-12" width="100px">
                                    <div class="row d-flex justify-content-center">
                                        <button class="btn btn-primary btn-circle btn-xl" type="submit" active style="margin-top: 40%;"></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3" style="text-align: center;">
                        <h5>Trail</h5>
                        <form action="/toption" method="post" id="terrainForm">
                            <div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input src="/images/path.png" id="tOption" class="img-responsive" width="100%" height="auto" type="image" name="submit" alt="submit" style="text-align: center;">
                                        <input name="tOp" value="1" hidden="">
                                    </div>
                                </div>
                                <div class="col-sm-12" width="100px">
                                    <div class="row d-flex justify-content-center">
                                        <button class="btn btn-primary btn-circle btn-xl" type="submit" active style="margin-top: 40%;"></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3" style="text-align: center;">
                        <h5>Gravel</h5>
                        <div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="/images/stone.png" id="tOption" class="img-responsive" width="100%" height="auto" type="image" style="text-align: center;">
                                    <!--send chosen options through mvc post method-->
                                    <input name="tOp" value="2" hidden="">
                                </div>
                            </div>
                            <div class="col-sm-12" width="100px">
                                <div class="row d-flex justify-content-center">
                                    <button class="btn btn-primary btn-circle btn-xl" type="submit" disabled style="margin-top: 40%;"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex align-items-center justify-content-center">
                        <form action="/cushion" method="get">
                            <div>
                                <input src="/images/fast-forward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(17%); margin-top: -60%; margin-left: -5%;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            
            <%}%>