<% if (width === 0) {%>
    <div class="container-fluid col-md-12" id="widthOptions">
        <div class="row ">
            <div class="col-sm-2">
                <form action="/pronation" method="get">
                    <div><input src="/images/fast-backward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(26%); margin-top: 30%; margin-left: -10%;"></div>
                </form>
            </div>
            <div class="col-sm-2" style="text-align: center; margin-top: -3%;">
                <form action="/woption" method="post">
                    <div>
                        <input src="/images/Width-1-selected.png" id="wOption" type="image" name="submit" alt="submit" style="text-align: center;">
                        <input name="wOp" value="0" hidden>
                    </div>
                </form>
            </div>
            <div class="col-sm-2" style="text-align: center; margin-top: -3%;">
                <form action="/woption" method="post">
                    <div>
                        <input src="/images/Width-2-unselected.png" id="wOption" type="image" name="submit" alt="submit" style="text-align: center;">
                        <input name="wOp" value="1" hidden>
                    </div>
                </form>
            </div>
            <div class="col-sm-2" style="text-align: center; margin-top: -3%;">
                <form action="/woption" method="post">
                    <div>
                        <input src="/images/Width-3-unselected.png" id="wOption" type="image" name="submit" alt="submit" style="text-align: center;">
                        <input name="wOp" value="2" hidden>
                    </div>
                </form>
            </div>
            <div class="col-sm-2" style="text-align: center;">
                    <form action="/price" method="get">
                        <div><input src="/images/fast-forward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(26%); margin-top: 30%;  margin-left: 85%;"></div>
                    </form>
            </div>
        </div>
    </div>
    <!--div class="container-fluid">
        <div class="row row-cols-5">
            <div class="col-sm-2 col-sm-offset-1">
                <form action="/pronation" method="get">
                    <div><input src="/images/fast-backward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(26%); margin-top: 30%;  margin-left: -40%;"></div>
                </form>
            </div>
            <div class="col-sm-2" style="text-align: center;">
                            <form action="/woption" method="post">
                                <div>
                                    <input src="/images/Width-1-selected.png" id="wOption" type="image" name="submit" alt="submit" style="text-align: center;">
                                    <input name="wOp" value="0" hidden>
                                </div>
                            </form>
            </div>
            <div class="col-sm-2" style="text-align: center;">
                            <form action="/woption" method="post">
                                <div>
                                    <input src="/images/Width-2-unselected.png" id="wOption" type="image" name="submit" alt="submit" style="text-align: center;">
                                    <input name="wOp" value="1" hidden>
                                </div>
                            </form>
            </div>
            <div class="col-sm-2" style="text-align: center;">
                            <form action="/woption" method="post">
                                <div>
                                    <input src="/images/Width-3-unselected.png" id="wOption" type="image" name="submit" alt="submit" style="text-align: center;">
                                    <input name="wOp" value="2" hidden>
                                </div>
                            </form>
            </div>
            <div class="col-sm-2">
                    <form action="/price" method="get">
                        <div><input src="/images/fast-forward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(26%); margin-top: 30%;  margin-left: 40%;"></div>
                    </form>
            </div>
        </div>
    </div-->
    <%}%>
    <% if (width === 1) {%>
        <div class="container-fluid col-md-12" id="widthOptions">
            <div class="row ">
                <div class="col-sm-2">
                    <form action="/pronation" method="get">
                        <div><input src="/images/fast-backward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(26%); margin-top: 30%; margin-left: -10%;"></div>
                    </form>
                </div>
                <div class="col-sm-2" style="text-align: center; margin-top: -3%;">
                    <form action="/woption" method="post">
                        <div>
                            <input src="/images/Width-1-unselected.png" id="wOption" type="image" name="submit" alt="submit" style="text-align: center;">
                            <input name="wOp" value="0" hidden>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2" style="text-align: center; margin-top: -3%;">
                    <form action="/woption" method="post">
                        <div>
                            <input src="/images/Width-2-selected.png" id="wOption" type="image" name="submit" alt="submit" style="text-align: center;">
                            <input name="wOp" value="1" hidden>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2" style="text-align: center; margin-top: -3%;">
                    <form action="/woption" method="post">
                        <div>
                            <input src="/images/Width-3-unselected.png" id="wOption" type="image" name="submit" alt="submit" style="text-align: center;">
                            <input name="wOp" value="2" hidden>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2" style="text-align: center;">
                        <form action="/price" method="get">
                            <div><input src="/images/fast-forward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(26%); margin-top: 30%;  margin-left: 85%;"></div>
                        </form>
                </div>
            </div>
        </div>
        <%}%>
        <% if (width === 2) {%>
            <div class="container-fluid col-md-12" id="widthOptions">
                <div class="row ">
                    <div class="col-sm-2">
                        <form action="/pronation" method="get">
                            <div><input src="/images/fast-backward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(26%); margin-top: 30%; margin-left: -10%;"></div>
                        </form>
                    </div>
                    <div class="col-sm-2" style="text-align: center; margin-top: -3%;">
                        <form action="/woption" method="post">
                            <div>
                                <input src="/images/Width-1-unselected.png" id="wOption" type="image" name="submit" alt="submit" style="text-align: center;">
                                <input name="wOp" value="0" hidden>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-2" style="text-align: center; margin-top: -3%;">
                        <form action="/woption" method="post">
                            <div>
                                <input src="/images/Width-2-unselected.png" id="wOption" type="image" name="submit" alt="submit" style="text-align: center;">
                                <input name="wOp" value="1" hidden>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-2" style="text-align: center; margin-top: -3%;">
                        <form action="/woption" method="post">
                            <div>
                                <input src="/images/Width-3-selected.png" id="wOption" type="image" name="submit" alt="submit" style="text-align: center;">
                                <input name="wOp" value="2" hidden>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-2" style="text-align: center;">
                            <form action="/price" method="get">
                                <div><input src="/images/fast-forward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(26%); margin-top: 30%;  margin-left: 85%;"></div>
                            </form>
                    </div>
                </div>
            </div>
            <%}%>