@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital@1&display=swap');
#userInput:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}
.accordion{
    --bs-accordion-bg: darkgray;
    --bs-accordion-active-bg: darkgray;
    --bs-accordion-active-color: white;
}
.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}
a {
    color: white;
}
body, html{
    height: 100%;
    background-color: #E8E8E8;
    max-width: 100%;
    overflow-x: hidden;
    background-image: url(/images/homeBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container
{
    /*background-color: rgb(43, 43, 43);*/
    margin-top: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
    width: 400px;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    color: white;
    margin-right: -50%;
    box-shadow: 0px 0px 5px lightgrey;
    transform: translate(-50%, -50%);
    text-align: center;
}
.btn{
    background-color: rgb(43, 43, 43);
    border-color: white;
}
#signup-button{
    margin-top: 5%;
}
#title{
    margin-bottom: 10%;
    margin-top: -5%;
}