<% if (pronation === 0) {%>
<div class="container-fluid col-md-12" id="pronationOptions">
    <div class="row ">
        <div class="col-sm-2">
            <form action="/heel_drop" method="get">
                <div><input src="/images/fast-backward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(26%); margin-top: 30%;  margin-left: -40%;"></div>
            </form>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <form action="/poption" method="post">
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Overpronation</h5>
                        <input src="/images/Pronation-1.png" id="pOption1" type="image" name="submit" alt="submit"
                            style="text-align: center;">
                        <input name="pOp" value="0" hidden>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="margin-top: 20%;">
                        <button class="btn btn-primary btn-circle btn-xl" type="submit" disabled></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <form action="/poption" method="post">
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Neutral</h5>
                        <input src="/images/Pronation-2.png" id="pOption2" type="image" name="submit" alt="submit"
                            style="text-align: center;">
                        <input name="pOp" value="1" hidden>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary btn-circle btn-xl" type="submit" active></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <form action="/poption" method="post">
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Suppination</h5>
                        <form action="/poption" method="post">
                            <div>
                                <input src="/images/Pronation-3.png" id="pOption3" type="image" name="submit" alt="submit"
                                    style="text-align: center;">
                                <input name="pOp" value="2" hidden>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-top: 30%;">
                            <button class="btn btn-primary btn-circle btn-xl" type="submit" active></button>
                        </div>
                    </div>
            </form>
        </div>
        <div class="col-sm-2" style="text-align: center;">
                <form action="/width" method="get">
                    <div><input src="/images/fast-forward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(26%); margin-top: 30%;  margin-left: 40%;"></div>
                </form>
        </div>
    </div>
</div>
<%}%>
<% if (pronation === 1) {%>
    <div class="container-fluid col-md-12" id="pronationOptions">
        <div class="row ">
            <div class="col-sm-2">
                <form action="/heel_drop" method="get">
                    <div><input src="/images/fast-backward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(26%); margin-top: 30%;  margin-left: -40%;"></div>
                </form>
            </div>
            <div class="col-sm-2" style="text-align: center;">
                <form action="/poption" method="post">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Overpronation</h5>
                            <input src="/images/Pronation-1.png" id="pOption1" type="image" name="submit" alt="submit"
                                style="text-align: center;">
                            <input name="pOp" value="0" hidden>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-top: 20%;">
                            <button class="btn btn-primary btn-circle btn-xl" type="submit" active></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2" style="text-align: center;">
                <form action="/poption" method="post">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Neutral</h5>
                            <input src="/images/Pronation-2.png" id="pOption2" type="image" name="submit" alt="submit"
                                style="text-align: center;">
                            <input name="pOp" value="1" hidden>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-primary btn-circle btn-xl" type="submit" disabled></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2" style="text-align: center;">
                <form action="/poption" method="post">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Suppination</h5>
                            <form action="/poption" method="post">
                                <div>
                                    <input src="/images/Pronation-3.png" id="pOption3" type="image" name="submit" alt="submit"
                                        style="text-align: center;">
                                    <input name="pOp" value="2" hidden>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="margin-top: 30%;">
                                <button class="btn btn-primary btn-circle btn-xl" type="submit" active></button>
                            </div>
                        </div>
                </form>
            </div>
            <div class="col-sm-2" style="text-align: center;">
                    <form action="/width" method="get">
                        <div><input src="/images/fast-forward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(26%); margin-top: 30%;  margin-left: 40%;"></div>
                    </form>
            </div>
        </div>
    </div>
    <%}%>
    <% if (pronation === 2) {%>
        <div class="container-fluid col-md-12" id="pronationOptions">
            <div class="row ">
                <div class="col-sm-2">
                    <form action="/heel_drop" method="get">
                        <div><input src="/images/fast-backward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(26%); margin-top: 30%;  margin-left: -40%;"></div>
                    </form>
                </div>
                <div class="col-sm-2" style="text-align: center;">
                    <form action="/poption" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5>Overpronation</h5>
                                <input src="/images/Pronation-1.png" id="pOption1" type="image" name="submit" alt="submit"
                                    style="text-align: center;">
                                <input name="pOp" value="0" hidden>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="margin-top: 20%;">
                                <button class="btn btn-primary btn-circle btn-xl" type="submit" active></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2" style="text-align: center;">
                    <form action="/poption" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5>Neutral</h5>
                                <input src="/images/Pronation-2.png" id="pOption2" type="image" name="submit" alt="submit"
                                    style="text-align: center;">
                                <input name="pOp" value="1" hidden>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-primary btn-circle btn-xl" type="submit" active></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2" style="text-align: center;">
                    <form action="/poption" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5>Suppination</h5>
                                <form action="/poption" method="post">
                                    <div>
                                        <input src="/images/Pronation-3.png" id="pOption3" type="image" name="submit" alt="submit"
                                            style="text-align: center;">
                                        <input name="pOp" value="2" hidden>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" style="margin-top: 30%;">
                                    <button class="btn btn-primary btn-circle btn-xl" type="submit" disabled></button>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="col-sm-2" style="text-align: center;">
                        <form action="/width" method="get">
                            <div><input src="/images/fast-forward.png" type="image" class="img-responsive" width="100%" height="100%" name="submit" alt="submit" style="transform: scale(26%); margin-top: 30%;  margin-left: 40%;"></div>
                        </form>
                </div>
            </div>
        </div>
        <%}%>