@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital@1&display=swap');

.bg-light {
    --bs-bg-opacity: 0;
}
.navbar-brand {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 39px;
}
.nav-link{
    color: white;
}
html {
  font-size: 16px;
}
body {
  background-color: #e0e0e0;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Poppins", sans-serif;
}

  .card-title {
    color: white;
    /* font-size: var(--bs-h1-font-size); */
    font-weight: bold;
    text-transform: uppercase;
  }
  .card-text {
    /* font-size: 4 rem; */
    color: white;
  }  
  .card-product {
    padding: 0;
    margin: 10px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 1rem;
    box-shadow:3px 3px 6px rgba(128,128,128,.3),
      -3px -3px 6px rgba(255,255,255,.3) !important;
    overflow: hidden;
  }
  .card:hover{
    background-color: #eaeaea;
      box-shadow: 3px 3px 6px rgba(128,128,128,.5),
      -3px -3px 6px rgba(255,255,255,.5) !important;
  }
    img {
      opacity: 0.9;
    }
  img:hover {
    opacity: 1.0;
  }
  .title{
    color: white;
  }

  
 .center {
  margin-top: 10%;
  width: 80%;
 height: 80%;
 }

 .card-img-holder{
  /* background-color: white; */
  background-color: rgba(87, 153, 251, 1);
  height: 300px; display: flex;
  justify-content: center;
 }

 .info-cards{
    background-color: #666666;
    height: 300px;
 }